extends layout

block includes
	link(rel='stylesheet', href='/css/main.css')
	script(src='https://code.jquery.com/jquery-1.12.2.min.js')
	script(src='/js/main.js')
	script(src='https://cdn.firebase.com/js/client/2.4.1/firebase.js')

block content
	h1= title
	p Welcome to #{title}

	div(id='BCB', class='substation') BCB
	div(id='GMB', class='substation') GMB
	div(id='AJB', class='substation') AJB
	div(id='ALB', class='substation') ALB
	div(id='FRB', class='substation') FRB
